.photography {
  padding-top: 80px;
  color: #000;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    text-align: center;
    margin-bottom: 80px;
  }
  &__buttons {
    display: flex;
    column-gap: 32px;
    justify-content: center;
  }
  &__button {
    padding: 12px 25px;
  }

  &__card {
    display: flex;
    margin-bottom: 90px;
    align-items: center;
    column-gap: 55px;
    &__left {
      display: flex;
      column-gap: 25px;
    }
    &__content {
      max-width: 1000px;
      text-align: center;
    }
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 45px;
      max-width: 1200px;
      margin-bottom: 100px;
    }
    p {
      font-family: "Taylor Sans 400";
      font-size: 22px;
      max-width: 717px;

      height: 210px;
      max-width: 890px;
      max-height: 444px;
      line-height: normal;
    }
    a {
      font-size: 22px;
      font-family: "Taylor Sans 400";
      color: #000;
      border: 1px solid #000;
      transition: 0.3s ease-in-out;
    }
    a:hover {
      background-color: #000;
      color: #fff;
    }

    &__image {
      width: 400px;
      height: 400px;
      background-size: cover;
      background-position: center;
    }
    &__images {
      display: flex;
      flex-direction: column;
      div {
        width: 187px;
        height: 187px;
        margin-bottom: 25px;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
