.promo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  img {
    width: 400px;
  }
}
