.application {
  background-color: #000;
  color: #fff;

  &__window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
  }
  &__container {
    margin: 0 auto;
    max-width: 1500px;
  }
  img {
    width: 31px;
    height: 31px;
  }
  &__name {
    &_input {
      position: relative;
    }
    &_error {
      position: absolute;
      top: 0;
      left: 65%;
      color: red;
      font-family: "Taylor Sans 400";
    }
  }
  &__phone {
    &_input {
      position: relative;
    }
    &_error {
      position: absolute;
      top: 0;
      left: 60%;
      color: red;
      font-family: "Taylor Sans 400";
    }
  }
  &__text {
    &_input {
      position: relative;
    }
    &_error {
      position: absolute;
      top: 0;
      left: 59%;
      color: red;
      font-family: "Taylor Sans 400";
    }
  }
  &__left {
    width: 45%;
    &__success_button {
      margin-left: 165px;
    }
    &__success {
      font-family: "Taylor Sans 400";
      font-size: 18px;
      animation: success-show 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);
      &__top {
        position: relative;
      }
      &__text {
        margin-left: 100px;
      }
      // &__text:hover:before {
      //   transform: scaleX(1);
      // }
      &__text:before {
        content: "";
        top: 2%;
        left: 7%;
        width: 18px;
        height: 35px;
        border-bottom: 3px solid rgb(37, 172, 37);
        border-right: 3px solid rgb(37, 172, 37);
        position: absolute;
        transform: rotate(40deg);
        animation: success-complete 1s;
      }
      &_button {
        padding: 1px;
      }
    }
    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
    h1 {
      font-size: 40px;
      font-family: "Playfair Display", serif;
      margin-bottom: 35px;
    }
    a {
      padding: 10px 30px;
      display: inline-block;
      background-color: #fff;
      color: #000;
      font-family: "Taylor Sans 400";
      font-size: 18px;
      border-radius: 50px;
      margin-top: 17px;
      transition: 0.3s ease-in-out;
      border: 2px solid #000;
      animation: show-button 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    }
    a:hover {
      background-color: #000;
      border: 2px solid #fff;
      color: #fff;
    }
    input {
      border: 0;
      outline: none;
      border-radius: 0;
      appearance: none;
      font-size: 16px;
      background-color: #000;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      color: #fff;
      font-family: "Taylor Sans 600";
      display: block;
      margin-bottom: 23px;
      width: 100%;
    }
  }
  &__right {
    h1 {
      font-size: 33px;
      font-family: "Taylor Sans 400";
      margin-bottom: 50px;
    }
  }
  &__telegram {
    display: flex;
    column-gap: 15px;
    margin-bottom: 12px;
    align-items: center;
    p {
      font-size: 30px;
      font-family: "Taylor Sans 400";
    }
  }
  &__whatsup {
    display: flex;
    column-gap: 15px;
    align-items: center;
    p {
      font-size: 30px;
      font-family: "Taylor Sans 400";
    }
  }

  &__wrapper {
    padding: 56px 60px 56px 81px;
    display: flex;
    column-gap: 300px;
    max-height: 392px;
  }
}

@keyframes success-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes success-complete {
  0% {
    opacity: 0;
    transform: scaleX(0) rotate(40deg);
  }

  100% {
    opacity: 1;
    transform: scaleX(1) rotate(40deg);
  }
}

@keyframes show-button {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
