.fullscreen__photography {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  &__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__closeIcon {
    width: 40px;
    height: 40px;
    fill: #fff;
    margin-right: 70px;
    margin-top: 40px;
  }
}
