@font-face {
  font-family: "Taylor Sans 400";
  src: url("../fonts/TaylorSans-Regular.ttf");
}

@font-face {
  font-family: "Taylor Sans 600";
  src: url("../fonts/TaylorSans-SemiBold.ttf");
}

// font-family: "Playfair Display", serif;
// font-family: 'Raleway', sans-serif;
