.school {
  background-image: url("../../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    padding: 0 60px;
  }
  &__title {
    font-size: 45px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    column-gap: 150px;
    &__slider {
      width: 500px;
      &_item {
        width: 502px;
        height: 401px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
      }
    }
    &__left {
      &__title {
        max-width: 430px;
        text-align: center;
        h1 {
          font-size: 40px;
          font-family: "Playfair Display", serif;
          margin-top: 280px;
        }
        p {
          font-family: "Taylor Sans 400";
          font-size: 29px;
          margin-bottom: 270px;
        }
      }
      &__desc {
        li {
          font-size: 23px;
          font-family: "Taylor Sans 400";
        }
        ul {
          margin-bottom: 20px;
        }
        p {
          font-size: 23px;
          font-family: "Taylor Sans 600";
          max-width: 450px;
        }
      }
    }
    &__right {
      &__content {
        display: flex;
        column-gap: 32px;
        margin-bottom: 35px;
        &__main {
          img {
            width: 502px;
            height: 401px;
            background-color: grey;
          }
        }
        &__second {
          display: flex;
          flex-direction: column;
          margin-top: 91px;
          video,
          img {
            width: 75px;
            height: 65px;
            margin-bottom: 19px;
            background-color: grey;
            cursor: pointer;
          }
        }
      }
      &__about {
        li {
          font-size: 23px;
          font-family: "Taylor Sans 400";
          max-width: 600px;
        }
        span {
          font-size: 23px;
          font-family: "Taylor Sans 600";
        }
      }
    }
  }
  &__card2 {
    display: flex;
    margin-bottom: 50px;
    column-gap: 60px;
    &__left {
      &__content {
        display: flex;
        column-gap: 32px;
        margin-bottom: 35px;
        &__main {
          img {
            width: 502px;
            height: 401px;
            background-color: grey;
          }
        }
        &__second {
          display: flex;
          flex-direction: column;
          margin-top: 92px;
          img,
          video {
            margin-bottom: 19px;
            width: 75px;
            height: 65px;
            background-color: grey;
          }
        }
      }
      &__about {
        ul {
          margin-bottom: 20px;
        }
        li {
          font-size: 23px;
          font-family: "Taylor Sans 400";
          max-width: 450px;
        }
        p {
          font-size: 23px;
          font-family: "Taylor Sans 600";
          max-width: 450px;
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 125px;
      &__title {
        max-width: 320px;
        text-align: center;
        margin-top: 125px;
        h1 {
          font-size: 40px;
          font-family: "Playfair Display", serif;
          text-align: center;
        }
        p {
          font-size: 29px;
          font-family: "Taylor Sans 400";
          margin-bottom: 290px;
        }
      }
      &__desc {
        li {
          font-size: 23px;
          max-width: 570px;
          font-family: "Taylor Sans 400";
        }
        span {
          font-size: 23px;
          max-width: 570px;
          font-family: "Taylor Sans 600";
        }
      }
    }
  }
}

.app {
  &__slider {
    max-width: 700px;
    max-height: 1000px;
  }
  &__bg {
    width: 500px;
    height: 500px;
  }
  &__item {
  }
}

.app__visible {
  opacity: 1;
}

// .slider {
//   display: flex;
//   align-items: center;
// }

.school__slider__background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.school_slider {
  display: flex;
  column-gap: 100px;
  position: relative;
  align-items: center;

  &__blocks {
    position: absolute;
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }

  &__left_block {
    width: 50%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg {
      margin-left: 10%;
      position: absolute;
    }
  }
  &__left_block:hover {
    svg {
      width: 65px;
      height: 65px;
      fill: #000;
    }
  }
  &__right_block {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg {
      margin-right: 10%;
      position: absolute;
    }
  }
  &__right_block:hover {
    svg {
      width: 65px;
      height: 65px;
      fill: #000;
    }
  }

  &__arrow {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  &__arrow:hover {
    fill: #000;
  }
  &__close_icon {
    position: absolute;
    top: -20%;
    right: 5%;
    width: 45px;
    transition: all 0.2s ease-in-out;
  }
  &__close_icon:hover {
    fill: rgb(168, 61, 61);
    animation: close-icon 1s;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
    max-height: 400px;
  }
}

@keyframes close-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
